@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-slate-900;

    font-size: 14px;
    @screen md {
      font-size: 15px;
    }
    @screen lg {
      font-size: 16px;
    }
  }
}

@layer utilities {
  .center-content {
    @apply max-w-screen-lg px-4 mx-auto;
  }
}
